body {
	padding-top: 20px;
}

.centered {
	float: none;
    margin: 0 auto;
}

.btn-group {
	margin-bottom: 20px;
}

.colors button {
	height: 35px;
}

.magic-box {
	height: 635px;
	max-width: 1635px;
	padding: 0px;
	margin: 0 auto;
	line-height: 0;
}

.magic-field {
	display: inline-block;
}

.footer {
	margin-top: 50px;
	margin-bottom: 10px;
}

/*
=====================================
 Colors
=====================================
*/

.white, .white:hover, .white:active, .white:focus {
	background-color: white;
}

.yellow, .yellow:hover, .yellow:active, .yellow:focus {
	background-color: yellow;
}

.green, .green:hover, .green:active, .green:focus {
	background-color: green;
}

.lightblue, .lightblue:hover, .lightblue:active, .lightblue:focus {
	background-color: lightblue;
}

.blue, .blue:hover, .blue:active, .blue:focus {
	background-color: blue;
}

.magenta, .magenta:hover, .magenta:active, .magenta:focus {
	background-color: magenta;
}

.red, .red:hover, .red:active, .red:focus {
	background-color: red;
}

.black, .black:hover, .black:active, .black:focus {
	background-color: black;
}

